$black: #191C1F;
$gray: #5E646A;
$white: #FFFFFF;
$blue: #2A6CEA;

%graphik-normal{
	font-family: 'Graphik LCG', sans-serif;	
	font-weight: 400;
}

%graphik-bold{
	font-family: 'Graphik LCG', sans-serif;	
	font-weight: 600;
}